TG_BOT_TOKEN="使用@botfather创建的机器人token"
SOCKS_PROXY="socks5://你的socks5代理地址:端口"
CHAT_ID="你的聊天ID"
AWS_S3_HOST="https://你的S3服务地址"
AWS_S3_PUBLIC_URL="https://你的S3公共访问地址"
AWS_S3_BUCKET="你的S3桶名称"
AWS_ACCESS_ACCESS_KEY="你的S3访问密钥"
AWS_SECRET_SECRET_KEY="你的S3秘密密钥"